h1{	background-color:#000024;
	color:White;
	font-family: "Arial Black", Gadget, sans-serif;
	padding: 15px 10px 25px 15px;
	margin-bottom:0px;}

ul{list-style-type: none;
	margin: 0px;
	padding: 0px 0px 0px 350px;
	overflow: hidden;
	background-color:MidnightBlue}
img{float: left;
	margin-left:15px;
	margin-right: 15px;
	backrgound-color: MidnightBlue;
	}
li{
	float: left;
	margin-left:60px;
	width: 1024 px;
	bakcground-color:MidnightBlue;
	}
a{
	display: block;
	padding: 10px;
	margin-bottom:px;
	background-color:MidnightBlue;
	text-decoration: none;
	color:white;
}

li a:hover {
    background-color:#000024 ;
